# ---
# artefact_type: specification
# visibility: public
# audience: everyone
# form: text
# role: specification
# status: normative
# owner: system-design
# ---
#
# DISCLAIMER
# ----------
# This OpenAPI specification is NOT an official ECB or Eurosystem API.
#
# It is provided solely for EDUCATIONAL PURPOSES to demonstrate:
# - how functional, interface, and data-model specifications
#   can be realised as machine-readable APIs,
# - how traceability between artefacts can be made explicit,
# - how such artefacts can be governed and validated by automation.
#
# All content is derived from publicly available information
# and reasonable technical assumptions.
# No confidential, proprietary, or insider information is included.

openapi: 3.0.3

info:
  title: Liquidity Reservation API (Waterfall)
  version: "1.0.0"
  description: |
    **FICTIONAL SPECIFICATION** for the Digital Euro Liquidity Management.
    
    This API defines the interface for PSPs to atomically Fund (Mint) and Defund (Burn) Digital Euro 
    against Commercial Bank Money reservations, supporting the "Two-Phase Commit" pattern.
    
    **Traceability Dictionary:**
    - **[SPEC-LIQ-FUNC]**: `liquidity-functional-spec.md` (State Machine & Logic)
    - **[SPEC-LIQ-INT]**:  `liquidity-interfaces-spec.md` (Protocol & Headers)
    - **[SPEC-LIQ-DATA]**: `liquidity-data-model-spec.md` (Data Schemas & Integrity)
    
  contact:
    name: System Design Team
    url: https://github.com/policy-to-production

# Defined in [SPEC-LIQ-INT] Section 3: Component Inventory
servers:
  - url: https://api.access-gateway.eurosystem.eu/v1/liquidity
    description: Digital Euro Access Gateway (COMP-EUR-05)

components:
  securitySchemes:
    # Trace: [SPEC-LIQ-INT] Section 6 (Security Context)
    mTLS:
      type: http
      scheme: mutual
      description: |
        Mutual TLS using eIDAS Qualified Website Authentication Certificates (QWACs).
        Requests must be signed by the PSP's specialized Liquidity Key.

  parameters:
    # Trace: [SPEC-LIQ-INT] INT-LIQ-02 (Idempotency)
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        format: uuid
      description: |
        Unique key (UUIDv4) to ensure safe retries. 
        Critical for preventing double-funding on network timeouts.

  schemas:
    # Trace: [SPEC-LIQ-DATA] Section 4.2 Entity: FundingRequest
    FundingRequest:
      type: object
      description: The payload for `OP-LIQ-01` to request issuance.
      required:
        - amount
        - currency
        - reservation_proof
      properties:
        amount:
          type: integer
          format: int64
          description: |
            Amount in minor units (cents). Must be positive.
            Trace: [SPEC-LIQ-DATA] DAT-MSG-01
          example: 1000
          minimum: 1
        currency:
          type: string
          pattern: '^EUR$'
          description: |
            Fixed value 'EUR'.
            Trace: [SPEC-LIQ-DATA] DAT-MSG-02
        reservation_proof:
          type: string
          description: |
            Opaque hash or reference to the internal Commercial Bank Lock.
            Trace: [SPEC-LIQ-DATA] DAT-PRI-01 (Privacy Rule), [SPEC-LIQ-FUNC] SEC-LIQ-01
          example: "sha256:9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08"
        remittance_info:
          type: string
          maxLength: 140
          description: Unstructured text for bank statement reconciliation.

    # Trace: [SPEC-LIQ-DATA] Section 4.3 Entity: DefundingRequest
    DefundingRequest:
      type: object
      description: The payload for `OP-LIQ-02` to offload excess liquidity.
      required:
        - amount
        - reason_code
      properties:
        amount:
          type: integer
          format: int64
          description: |
            Amount to remove from circulation (cents).
            Trace: [SPEC-LIQ-DATA] DAT-MSG-03
          example: 500
          minimum: 1
        reason_code:
          type: string
          enum: [LIMIT_BREACH, ZERO_HOLDING_CONFIG]
          description: |
            The functional trigger for this operation.
            Trace: [SPEC-LIQ-DATA] DAT-MSG-04

    # Trace: [SPEC-LIQ-DATA] Common Response Structure
    LiquidityResponse:
      type: object
      required:
        - status
        - settled_at
        - settlement_ref
      properties:
        status:
          type: string
          enum: [SETTLED]
          description: Confirmation status.
        settled_at:
          type: string
          format: date-time
          description: Timestamp of finality in the Settlement Engine.
        settlement_ref:
          type: string
          description: |
            Unique Transaction ID generated by the Eurosystem.
            Trace: [SPEC-LIQ-DATA] AUD-LIQ-01

    # Trace: [SPEC-LIQ-INT] Standard Error Format
    ProblemDetails:
      type: object
      properties:
        type: 
          type: string
        title: 
          type: string
        status: 
          type: integer
        detail: 
          type: string
        instance: 
          type: string
        error_code:
          type: string
          description: Machine-readable error code (e.g., LIMIT_BREACH).

security:
  - mTLS: []

paths:
  /fund:
    post:
      summary: Request Liquidity Funding (Waterfall)
      operationId: fundDigitalEuro
      description: |
        Instructs the Eurosystem to issue (mint) Digital Euro. 
        
        **Functional Trace:** Executes Transition `TR-LIQ-04` (LOCKED -> FUNDING).
        **Interface Trace:** Corresponds to `OP-LIQ-01` and `Flow 5.1`.
        **Precondition:** MUST only be called after a successful internal lock of Commercial funds.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundingRequest'
      responses:
        '200':
          description: |
            Funding Successful. Liability created.
            Trace: [SPEC-LIQ-INT] STEP-WAT-05, [SPEC-LIQ-FUNC] TR-LIQ-05.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiquidityResponse'
        '400':
          description: Validation Error (e.g., Invalid Currency, Amount mismatch).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: |
            Limit Breach. Funding would exceed Holding Limit.
            Trace: [SPEC-LIQ-FUNC] REQ-LIQ-02 (Fail-Safe Rollback).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '504':
          description: |
            Gateway Timeout. Unknown state.
            **Action Required:** PSP MUST trigger `TR-LIQ-06` (Rollback/Void).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

  /defund:
    post:
      summary: Request Liquidity Defunding (Reverse Waterfall)
      operationId: defundDigitalEuro
      description: |
        Instructs the Eurosystem to destroy (burn) Digital Euro to reduce holding balance.
        
        **Functional Trace:** Executes logic for `REQ-LIQ-FUNC-05`.
        **Interface Trace:** Corresponds to `OP-LIQ-02` and `Flow 5.2`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DefundingRequest'
      responses:
        '200':
          description: |
            Defunding Successful. Liability reduced.
            Trace: [SPEC-LIQ-INT] STEP-REV-04.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiquidityResponse'
        '422':
          description: |
            Insufficient Funds. Cannot defund more than current balance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

                